* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

html{
  background-color: #212121;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.notes{
  display: flex;
  gap: 1rem;
  padding-block: 1rem;
  padding-inline: 3rem;
  flex-wrap: wrap;
}

.note{
  background-color: #494949;
  padding: 1rem;
  border-radius: 0.7rem;
  max-width: 20rem;
  color: rgb(255, 253, 249);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.note-create-form{
  display: flex;
  gap: 1rem;
  padding-inline: 3rem;
  padding-block: 1rem;
}

.note-create-form input, .note-create-form textarea{
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
}

button{
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #2979ff;
  color: white;
  cursor: pointer;
}

button:active{
  scale: 0.98;
}

.buttons{
  display: flex;
 ;
}

.delete{
  background-color: #d32f2f;
  margin-right: 0.9rem;
}

.edit{
  background-color: #f9a825;
}


.update-note .full-screen{
  background-color: #2929298f;
  width: 100%;
  height: 100%;
  position: absolute;
  backdrop-filter: blur(5px);
  

}
.note-update-form{
  width: 35%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #494949;
  padding: 2rem;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: rgb(255, 253, 249);
  
}

.note-update-form input, .note-update-form textarea{
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
}