* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body,#root {
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{

    width: 100%;
    min-height: 100%;
    background-color: #1c1c1c;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    .form-container{
        width: 300px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        form{
            display: flex;
            flex-direction: column;
            gap: 14px;

            input, button{
                border: none;
                outline: none;
                padding: 12px 10px;
                border-radius: 12px;
            }

            button{
                background-color: rgb(17, 107, 250);
                cursor: pointer;
                color: white;

            }
            button:active{
                scale: 0.98;
            }

            
        }

        a{
                text-decoration: none;
                color: rgb(17, 107, 250);
                font-size: 14px;
                text-align: right;
            }
    }
}