* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

html{
  background-color: rgb(26, 26, 26);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

.all-notes{
  width: 100%;
  padding: 0.5rem;
  /* height: 100%; */
  display: flex;
  gap: 1rem;
}

.note{
  border-radius: 8px;
  font-size: 1.25rem;
  padding: 1rem;
  background-color: gray;

}